body {
    background: #6ec9f5;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.calculadora {
    background: #a9a9a9;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    width: 280px;
}

.screen {
    background: #222;
    color: #47e9f1;
    font-size: 28px;
    padding: 10px;
    border-radius: 10px;
    text-align: right;
    margin-bottom: 10px;
    height: 40px;
    overflow-x: auto;
}

.titulo {
    text-align: center;
    color: white;
    background: #7a7a7a;
    border-radius: 10px;
    padding: 3px;
    font-size: 12px;
    margin-bottom: 10px;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 6px;
}

button {
    background: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: #ddd;
}

.verde { background: #a7f1a7; }
.amarillo { background: #f6f68f; }

.acciones-historial {
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}

.historial-container {
    background: #f0f0f0;
    margin-top: 15px;
    padding: 10px;
    width: 280px;
    border-radius: 10px;
    display: none;
}
.historial-container h3 {
    margin: 0;
    font-size: 16px;
}
.historial-lista {
    max-height: 150px;
    overflow-y: auto;
    margin-top: 5px;
}
.historial-lista div {
    border-bottom: 1px solid #ccc;
    padding: 3px;
    font-size: 14px;
}
